.App {
  text-align: center;
}

.console {
  background-color:black;
  color: white;
  font-family: 'cascadia code';
  font-size: 10pt;
  width: fit-content;
  height: fit-content;
  margin: 20px;
}

.log {
  width:100%;
  white-space: pre-wrap;
}

.cursor {
  position:absolute;
  transform: translateX(-50%);
}

.negative {
  background-color: white;
  color: black;
}

.underline {
  text-decoration: underline;
}

